DATABASE_URL=postgresql://postgres.<ref>:<password>@aws-X-XX-XXXX-X.pooler.supabase.com:5432/postgres
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=<app>
MONGO_DB=db-CheckYourDrip
CLOUDINARY_CLOUD_NAME=<cloud_name>
CLOUDINARY_API_KEY=<api_key>
CLOUDINARY_API_SECRET=<api_secret>
MODEL_PATH=model/best.pt
