fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
numpy==1.24.4
opencv-python-headless==4.8.1.78
ultralytics==8.2.18
psycopg2-binary==2.9.9
pymongo==4.7.2
cloudinary==1.40.0
python-dotenv==1.0.1
